%p
  %strong Grouped Maps
  %br/
  Combine multiple maps into a single interface
  %br/
  %br/
  The layers on each map can be toggled on or off and allows users to create custom presentations for many different layers
