- content_for :side_menu do
  = link_to @organization, class: 'btn btn-default btn-block' do
    %i.fa.fa-arrow-left
    Back

  %hr

  = link_to 'New Multimap', new_organization_multimap_path(@organization), class: 'btn btn-success btn-block'

.panel.panel-default
  .panel-heading
    %h1.panel-title Multimaps

  = render 'list', multimaps: @multimaps
