- content_for :side_menu do
  = link_to @organization, class: 'btn btn-default btn-block' do
    %i.fa.fa-arrow-left
    Back

.panel.panel-default
  .panel-heading
    %h1.panel-title New Map
  .panel-body
    = render 'form'
