#layer_container.panel.panel-default
  .panel-heading
    %b
      = @map.title
      \- Legend
  .panel-body
    %ul.nav
      - layers.each do |layer|
        %li.layer-definition{ data: { layer: layer.leaflet_params.to_json } }
          = render layer
