- content_for :title do
  = @map.title
- if @map.use_sidebar?
  #map_container.sidebar
    #map
  .legend.sidebar
    = render 'legend'
- else
  #map_container
    #map
  .legend.floating
    = render 'legend'
