#map_container
  #map

- unless @map.nil?
  #layer_container.panel.panel-default
    .panel-heading
      %b
        = @map.title
    .panel-body
      = render 'layers', layers: @map.try(:geojson_layers)
      = render 'layers', layers: @map.try(:wms_layers)
