%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th.text-right Active
      %th.text-right Actions
  %tbody
    - wms_layers.each do |wms_layer|
      %tr
        %td
          %p= wms_layer.name
          = wms_layer.description
        %td.text-right= wms_layer.active
        %td.text-right.col-sm-2
          = link_to edit_organization_wms_layer_path(@organization, wms_layer), class: 'btn btn-sm btn-primary' do
            Manage
            %i.fa.fa-arrow-right
