- content_for :side_menu do
  = link_to 'New WMS layer', new_organization_wms_layer_path(@organization), class: 'btn btn-success btn-block'

.panel.panel-default
  .panel-heading
    %h1.panel-title Listing wms layers
  = render 'list', wms_layers: @wms_layers
