- content_for :side_menu do
  = link_to 'New GeoJSON Layer', new_geojson_layer_path, class: 'btn btn-success btn-block'

.panel.panel-default
  .panel-heading
    %h1.panel-title Listing geojson_layers
  = render 'list', geojson_layers: @geojson_layers
