.panel.panel-default
  .panel-heading
    %h1.panel-title Users
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th.text-right Actions
    %tbody
      - @organization.organizations_users.find_each do |ou|
        %tr
          %td= ou.user.name
          %td= ou.user.email
          %td.text-right
            - if can? :manage, @organization
              = link_to 'Remove', organization_user_path(@organization, ou), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
